* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d4d5d6e6;
}

.title {
    text-decoration: none;
    color: #a03232;
}

.back-button {
    background: #d4d5d6e6;
    position: relative;
}

.unselected {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;    
}
.selected {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #a03232;
    position: absolute;
}
.quantity {
    position: absolute;
    right: 10px;
    font-size: 18px;
}

.cart-items {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 170px;
    margin-top: 1rem;
}

.cart-item {
    padding: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #d4d5d6e6;
    position: relative;
}

.cart-img-wrapper > img {
    max-width: 300px;
}

.item-description {
    margin-top: 0;
}

.item-description>.price {
    font-weight: 400;
    font-size: 20px;
}

.item-cart-options {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.subtract, 
.add {
    padding: 0.3rem 0.8rem;
    font-size: 18px;
}

.remove {
    padding: 0 0.4rem;
}

footer {
    padding: 10px;
    width: 100%;
    height: 150px;
    background: #d4d5d6e6;
    position: relative;
    bottom: 0;
    display: none;

    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.checkout-item{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.checkout-item-image img {
    width: 35px;
    height: 35px;
}

.total-price {
    position: absolute;
    right: 0;
    bottom: 3rem;
    margin-right: 5px;
    margin-bottom: 10px;
}

footer button{
    padding: 1rem;
    font-weight: 600;
    border: 0;
    background: #a03232;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}