*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d4d5d6e6;
}   

.title {
    text-decoration: none;
    color: #a03232;
}

.cart-button {
    background: #d4d5d6e6;
    position: relative;
}
.cart-number {
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 7px;
    border-radius: 50%;
    background: #a03232;
    color: white;
}

.items {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item {
    padding: 10px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #d4d5d6e6;
}
.item-img-wrapper > img {
    max-width: 320px;
}

.item-description{
    margin-top: 0;
}
.item-description > .price {
    font-weight: 400;
    font-size: 20px;
}


.add-to-cart {
    padding: 5px 10px;
    font-weight: 600;
    border: 0;
    background: #646473bf;
    color: #fff;
}
.add-to-cart:hover {
    background: #646473e6;
}













/* @media (min-width: 768px)
@media (min-width: 1024px)
@media (min-width: 1440px) */