*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center
}

.container {
    max-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    /* max-width: 100%; */
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d4d5d6e6;
}   

.title {
    text-decoration: none;
    font-size: smaller; /**/
    color: #a03232;
}

.cart-button {
    background: #d4d5d6e6;
    position: relative;
}
.cart-number {
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 7px;
    border-radius: 50%;
    background: #a03232;
    color: white;
}

.items {
    padding: 0  10px;
    display: flex; /**/
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto 20px auto;
}

.item {
    padding: 10px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #d4d5d6e6;
}
.item-img-wrapper > img {
    max-width: 320px;
}

.item-description{
    margin-top: 0;
}
.item-description > .price {
    font-weight: 400;
    font-size: 20px;
}


.add-to-cart {
    padding: 5px 10px;
    font-weight: 600;
    border: 0;
    background: #646473bf;
    color: #fff;
}
.add-to-cart:hover {
    background: #646473e6;
}


/* responsive screens*/
@media screen and  (min-width: 500px) {
    .container {
        max-width: 500px;
        width: 100%;
    }
    .header {
        max-width: 500px;
        width: 100%;
    }
    .items {
        max-width: 500px;
        margin: 0 auto;
    }
    .item{
        padding: 10px;
        max-width: 320px;
    }
}

@media screen and (min-width: 768px){
    .container {
        max-width: 768px;
        width: 100%;
    }
    .header {
        max-width: 768px;
        width: 100%;
    }
    .items {
        max-width: 768px;
        margin: 0 auto 20px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .item {
        padding: 20px;
        max-width: 340px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
        width: 100%;
    }
    .header {
        max-width: 1024px;
        width: 100%;
    }
    .items {
        max-width: 1024px;
        margin: 0 auto 30px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .item {
        padding: 20px;
        max-width: 320px;
    }
}

@media screen and (min-width: 1440px) {
    .container{
        max-width: 1440px;
        width: 100%;
    }
    .header {
        max-width: 1440px;
        width: 100%;
    }
    .items {
        max-width: 1440px;
        margin: 0 auto 30px auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    .item {
        padding: 20px;
        max-width: 300px;
    }
}